body {
    min-height: 100vh;
    background-color: #fefaef !important;
}


button {
    border: none;
}


.mr-16p {
    margin-right: 16px;
}


.mw-25rem {
    max-width: 25rem;
}


.bg-f7 {
    background-color: #f7f7f7;
}


.bg-ff4d10 {
    background-color: #ff4d10 !important;
}


.font-weight-light {
    font-weight: 100 !important;
}


.text-ff4d10 {
    color: #ff4d10;
}


.container {
    min-height: 100vh;
    background-color: #fefaef;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quizcard {
    flex-direction: row !important;
    font-family: "Rubik", sans-serif;
    width: 100%;
    max-width: 25rem;
}


.quizcardNav {
    background-color: #27355c !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    min-width: min-content !important;
}


.quizcardNav a {
    color: white;
}


.quizcardNav a:hover {
    border-left: 4px solid white !important;
    color: white;
}


.active {
    border-left: 4px solid white !important;
}


#quizcardContent {
    min-height: 248px;
}


.answercard {
    border: none;
    padding: 8px !important;
}


.hovereffect:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}


.rightAnswerCard {
    background-color: #b7f699 !important;
}


.wrongAnswerCard {
    background-color: #ffa3a4 !important;
}


.answerBadge {
    background-color: #d6d6d6;
    color: black !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-body-font-size);
}


.rightAnswerBadge {
    background-color: #4cbf19;
    color: white !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-body-font-size);
}


.wrongAnswerBadge {
    background-color: #f81817;
    color: white !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-body-font-size);
}


.answerText {
    margin-left: 24px;
}


.endScreen img {
    aspect-ratio: 1 / 1;
}


.lastNextQuestion {
    border-radius: 999px;
    width: 24px;
    height: 24px;
    background-color: #dadef5;
    font-weight: 700;
}


#trophyRight {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%)
}

#trophyRight img {
    width: 80px;
}


@media (max-width: 430px) {
    #trophyRight {
        display: none;
    }
}